.sidebaroptions{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    cursor: pointer;
}

.sidebar-icons{
    padding: 10px 15px;
}

.sidebaroptions:hover{
    color: var(--twitter-color);
    border-radius: 30px;
    background-color: #e8f5fe;
    transition: color 100ms ease-out; 
}

.sidebaroptions>h2{
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
}

